<div class="wrapper">
  <div class="hero">
    <h1>A private apartment complex network.</h1>
    <p>
      Resident is a place where you can communicate with other renters in your
      complex. Track communal issues, share grievances, and achieve higher
      transparency in how your living space is managed.
    </p>
    <p>
      <%= link_to 'Sign in', sign_in_path, class: 'button' %>
    </p>
  </div>
</div>
