.author {
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author__avatar {
  background-color: color(dark-grey);
  width: 46px;
  height: 46px;
  display: block;
  margin-right: 0.6rem;
  border-radius: 999px;
}
